div.quicktabs_wrapper .quicktabs_main{
	clear:left;
}

div.quicktabs_wrapper ul.quicktabs_tabs {
	background: #bcd6eb url('images/bg.gif') repeat-x bottom;
	padding: 3px 0px 3px;
	height: 20px;
	margin-bottom: 1px;
}     

.sidebar div.quicktabs_wrapper ul.quicktabs_tabs {
	padding-bottom: 3px;
}

div.quicktabs_wrapper ul.quicktabs_tabs li {
  margin: 0px;
  display: block;
  float: left;
  padding: 2px 0 1px !important;
  list-style-type: none;
  background: none;
} 

.sidebar div.quicktabs_wrapper ul.quicktabs_tabs li {
  margin: 0px;
  display: block;
  float: left;
  padding: 2px 0 1px;
  list-style-type: none;
  background: none;
}

div.quicktabs_wrapper ul.quicktabs_tabs li a:link,
div.quicktabs_wrapper ul.quicktabs_tabs li a:visited {
  color: #fff;
  padding: 8px 12px 3px 11px;
}  

div.quicktabs_wrapper ul.quicktabs_tabs li.active a {
  color: #027AC6 !important;
  background: url('images/tab-right.gif') no-repeat right bottom;
}
div.quicktabs_wrapper ul.quicktabs_tabs li.active {
	background: url('images/tab-left.gif') no-repeat left bottom;
}     

.sidebar div.quicktabs_wrapper ul.quicktabs_tabs li.active a {
  color: #027AC6 !important;
  background: url('images/tab-right-sidebar.gif') no-repeat right bottom;
}
.sidebar div.quicktabs_wrapper ul.quicktabs_tabs li.active {
	background: url('images/tab-left-sidebar.gif') no-repeat left bottom;
}

/* IE 6 Debug */
* html ul.quicktabs_tabs,
* html .sidebar ul.quicktabs_tabs {
	padding-bottom: 0px;
}
* html ul.quicktabs_tabs li a:link,
* html ul.quicktabs_tabs li a:visited {
	padding-bottom: 2px;
}
* html .sidebar ul.quicktabs_tabs li a:link,
* html .sidebar ul.quicktabs_tabs li a:visited {
	padding-bottom: 3px;
}

/* IE 7 Debug */
*+html ul.quicktabs_tabs li a:link { padding-bottom: 4px; }
*+html .sidebar ul.quicktabs_tabs li a:link { padding-bottom: 4px; }
*+html ul.quicktabs_tabs li { padding-bottom: 1px;}
/* Safari Debug */          
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.sidebar ul.quicktabs_tabs li a:link {
		padding-bottom: 4px;
	}
	ul.quicktabs_tabs li {
		padding: 3px 0px 0px;
	}

}