iframe.quicktabs-preview {
  border: none;
  width: 200px;
  height: 50px;
}

iframe.quicktabs-preview body {
  background: none;
  background-color: #FFFFFF;
}

ul.quicktabs_tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 2px;
}

#quicktabs-settings .form-radios .form-item{
	width:200px;
	float:left;
	margin:0 10px 10px 0;
	border:1px solid #ccc;
	background-color:#fff;
}

#quicktabs-settings .form-radios .form-item .option{
	display:block;
	background-color:#bfe3ff;
	font:bold 12px/18px verdana;
	color:#0a5793;
}

#quicktabs-settings .form-radios .form-item .option:hover{
	background-color:#aadaff;
	cursor:pointer;
	color:#003863;
}

#quicktabs-settings .form-radios .form-item .option .form-radio{
	margin-right:5px;
	float:left;
}
