iframe.quicktabs-preview {
  border: none;
  width: 200px;
  height: 50px;
}

iframe.quicktabs-preview body {
  background: none;
  background-color: #FFFFFF;
}

ul.quicktabs_tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 2px;
}

#quicktabs-settings .quicktabs-tabstyles .form-item{
	width:200px;
	float:left;
	margin:0 10px 10px 0;
	border:1px solid #ccc;
	background-color:#fff;
}

#quicktabs-settings .quicktabs-tabstyles .form-item .option{
	display:block;
	background-color:#bfe3ff;
	font:bold 12px/18px verdana;
	color:#0a5793;
}

#quicktabs-settings .quicktabs-tabstyles .form-item .option:hover{
	background-color:#aadaff;
	cursor:pointer;
	color:#003863;
}

#quicktabs-settings .quicktabs-tabstyles .form-item .option .form-radio{
	margin-right:5px;
	float:left;
	height:15px;
	margin-top:2px;
}

.delete-tab {
  width: 60px;
  height: 55px;
  padding: 55px 0 0;
  margin: 0;
  border: 0;
  background: transparent url(delete-tab.gif) no-repeat center top;
  overflow: hidden;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}
form>.delete-tab { /* For non-IE browsers*/
  height: 0px;
}

#add-more-tabs-button {
  text-align: right;
}

.add-tab {
  width: 60px;
  height: 55px;
  padding: 55px 0 0;
  margin: 0;
  border: 0;
  background: transparent url(add-tab.gif) no-repeat center top;
  overflow: hidden;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}
form>.add-tab { /* For non-IE browsers*/
  height: 0px;
}

body.quicktabs_iframe ul#simplemenu {
  display: none;
}

html.js div.quicktabs {
  display: none;
}