iframe.quicktabs-preview {
  border: none;
  width: 200px;
  height: 40px;
}

iframe body {
  background: none;
  background-color: #FFFFFF;
}

ul.quicktabs_tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 2px;
}

