div.quicktabs_wrapper .quicktabs_main{
	clear:left;
}
div.quicktabs_wrapper ul.quicktabs_tabs{
	margin:0;
	font-size:11px;
  list-style: none;
	padding:3px 0 23px 0;
}
div.quicktabs_wrapper ul.quicktabs_tabs li{
  float: left;
	height:20px;
  margin:0 5px;
  padding: 0 0 0 10px;
  background:transparent url(images/bullets.png) no-repeat 0 -80px;
}
div.quicktabs_wrapper ul.quicktabs_tabs li a{
  margin: 0;
	display:block;
  padding:0px 17px 0px 7px;
  font-weight:bold;
  text-decoration:none;
  color: #777;
  background:transparent url(images/bullets.png) no-repeat right -100px ;
}
div.quicktabs_wrapper ul.quicktabs_tabs li:hover a{
  background-position: right -60px ;
}
div.quicktabs_wrapper ul.quicktabs_tabs li:hover{
  background-position: 0 -40px;
}
div.quicktabs_wrapper ul.quicktabs_tabs li.active a,
div.quicktabs_wrapper ul.quicktabs_tabs li.active a:hover{
  color: #0372d9;
  background-position:right -20px;
}
div.quicktabs_wrapper ul.quicktabs_tabs li.active{
  background-position: 0 0;
}

/* IE6 Gif (no PNGs) */

*html ul.quicktabs_tabs li a{
  background:transparent url(images/bullets.gif) no-repeat right -100px ;
}
*html .quicktabs_wrapper ul.quicktabs_tabs li{  /* image for IE6  */
  background:transparent url(images/bullets.gif) no-repeat 0 -80px;
}