.quicktabs_main{
	clear:both;
}
.quicktabs_wrapper ul.quicktabs_tabs{
	border-bottom:1px solid #aaa;
	padding:0 5px 0 0;
	font:bold 12px/19px Verdana !important;
	font-weight:bold;
	height:19px;
	margin:0;
}
.quicktabs_wrapper .quicktabs_main{
	background-color:#fff;
	border:1px solid #aaa;
	border-top:none;
	padding:10px;
}

.quicktabs_wrapper ul.quicktabs_tabs a{
	font:bold 12px/19px Verdana !important;
	text-decoration:none;
	color:#aaa;
}

.quicktabs_wrapper ul.quicktabs_tabs a:hover{
	color:#555  !important;
}

.quicktabs_wrapper ul.quicktabs_tabs li{
	border:1px solid #e5e5e5;
	border-bottom:none;
	padding:2px 5px;
	margin:0 3px 0 0;
	position:relative;
}
.quicktabs_wrapper ul.quicktabs_tabs li:hover{
	border:1px solid #ccc;
	border-bottom:none;
}

.quicktabs_wrapper ul.quicktabs_tabs li.active{
	border:1px solid #aaa;
	border-bottom:1px solid #fff;
	background-color:#fff;
}
.quicktabs_wrapper ul.quicktabs_tabs li.active a{
	color:#027AC6;
}